[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyyaml = ">=4.2b1"
rhoci = {editable = true,path = "."}
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.7"
