<a href="{{ url_for('dfg.component_summary', component_name=component.name, dfg_name=component.squad.DFG_name, squad_name=component.squad.name) }}">
<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
<div class="card-pf card-pf-view">
  <div class="card-pf-body">
    <div class="{{ component.name }} card-pf-top-element text-center">
      <img id="{{ component.name }}" src="{{ url_for('static', filename='images/{0}.png'.format(component.name)) }}" onerror="no_image(this)" width=70 height=70>
    </div>
    <h2 class="card-pf-title text-center">
      {{ component.name }}
    </h2>
    <div class="card-pf-items text-center">
      <div class="card-pf-item">
      </div>
    </div>
  </div>
  <div class="card-pf-view-checkbox">
    <input type="checkbox">
  </div>
</div>
</div>
</a>

<script>

  function no_image(source) {


    source.onerror = "";
    source.src = "{{ url_for('static', filename='images/users.png') }}";

    return true;
  }

</script>
