{% extends "layout.html" %}

{% block content %}

<!-- Load d3 and c3 for displaying pie charts -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/c3.min.js') }}"></script>

<br>
<div class="container-fluid col-md-custom col-md-offset-custom">
  <div class="row text-center">
  </div>

{% include "bugs/add_bug_modal.html" -%}
{% include "bugs/add_tests_bug_modal.html" -%}
{% include "bugs/remove_tests_bug_modal.html" -%}
{% include "bugs/remove_bug_modal.html" -%}
{% include "bugs/show_bugs_modal_datatable.html" -%}

{% include "failures/show_failure_modal.html" -%}

{% include "tests/show_tests_modal_datatable.html" -%}

{% include "jobs/show_jobs_table.html" -%}


<div class="container-fluid">
<!-- Pie chart for each release -->
         <div class="col-lg-10">
{% for release in releases %}

  {% if release.num_of_jobs != 0 %}
    {% include "DFG/component/single_pie_chart.html" -%}
  {% endif %}

{% endfor %}
</div>


<div class="col-lg-2">
<div class="card-pf">
 <div class="card-pf-heading">
   <h2 class="card-pf-title">
     Components
   </h2>
 </div>
<div class="card-pf-body">
  {% for squad in dfg.squads %}
    {% for component in squad.components %}
      <a href="{{ url_for('dfg.component_summary', component_name=component.name, dfg_name=dfg.name) }}"><button type="button" class="btn btn-info" style="margin-bottom: 2px;">{{ component.name }}</button></a>
      <br>
    {% endfor %}
  {% endfor %}
</div>
</div>
</div>


</div>
<!-- -->

{% include "tests/failing_tests_datatable.html" -%}


<div class="container-fluid">
  <div class="row">
          <h3>
            <strong>Failing Jobs</strong>
          </h3>

{% include "jobs/show_failed_jobs_table.html" -%}

      </div>
  </div>

<script>

{% include "failures/show_failure.js" -%}
{% include "failures/analyze_failure.js" -%}

{% include "bugs/show_bugs.js" -%}
{% include "bugs/remove_tests_bug_from_db.js" -%}
{% include "bugs/remove_tests_bug.js" -%}
{% include "bugs/remove_bug_from_db.js" -%}
{% include "bugs/remove_bug.js" -%}
{% include "bugs/add_bug.js" -%}
{% include "bugs/add_tests_bug.js" -%}
{% include "bugs/submit_bug.js" -%}
{% include "bugs/submit_tests_bug.js" -%}

{% include "tests/show_tests.js" -%}

{% include "jobs/show_failed_jobs_datatable.js" -%}

{% include "common/modal_order.js" -%}
$("#jobs_table").addClass('hidden');
</script>

{% endblock %}
