<div class="col-md-3 py-1">
    <div class="card text-center">
      <div class="card-header">
        {{ DFG }}
      </div>
        <div class="card-body">
          <canvas id="{{ DFG }}Chart" width="400" height="400"></canvas>
        </div>
    </div>
</div>

<script>
  var ctx = document.getElementById("{{ DFG }}Chart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["Failure", "Unstable", "Success"],
        datasets: [{
            label: '# of Votes',
            data: [{{ url_for('DFG.get_num_of_jobs, status=FAILED') }}, 19, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
