<div id='filter_widget' style="width: 50%; margin:0 auto;">
    <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%">
        <span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1">
            <ul class="select2-selection__rendered" id='selected_filters'>

            </ul>
        </span>
    </span>
    <br>

    <select class="js-example-basic-single" id='filter_key'>
        {% for filter in filters %}
            <option value="{{ filter[0] }}" id='filter_{{ filter[0] }}'>{{ filter[0] }}</option>
        {% endfor %}
    </select>
    <div id='filter_value_container' style='width: 195px; display: inline-block'></div>
    <button type="button" class="btn btn-info" id="add_filter">+</button>
    <button type="button" class="btn btn-success" id="execute_button" style="display: none;">Execute</button>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#graph_modal" id='graph_button' style="float: right; display: none;">Graph</button>
    <button type="button" class="btn btn-success" data-toggle="modal" id='venn_button' style="float: right; display: none;">Add Set</button>
    <br><br>
    <div class="alert alert-danger" id='filter_error' style='display: none;'>
        
    </div>
</div>
