<h2>Next: Version 0.0.2</h2>
<ul>
  <li>Added to DB and API: DFG Squad & OpenStack Component entities</li>
</ul>
<h2>Version 0.0.1 (2017-12-27)</h2>
<ul>
  <li>Added the ability to link between test (including test class) and a bug</li>
  <li>Added releases to API</li>
  <li>Added the ability to link between job and a bug</li>
  <li>Added a new page to list bugs that affects CI</li>
  <li>Changed home page layout</li>
  <li>Added icons for DFG cards</li>
  <li>Added a shortcut button for API in navigation bar</li>
  <li>Added this changelog :D</li>
</ul>
