<div class="list-group list-view-pf list-view-pf-view" id="console_output">
  <div class="list-group-item">
    <div class="list-group-item-header">
      <div class="list-view-pf-expand">
        <span class="fa fa-angle-right"></span>
      </div>
      <div class="list-view-pf-checkbox">
        <input type="checkbox">
      </div>
      <div class="list-view-pf-actions">
        <button class="btn btn-default">Action</button>
        <div class="dropdown pull-right dropdown-kebab-pf">
  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="fa fa-ellipsis-v"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>

    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading" style="font-size:20px">
            Console Output
          </div>
          <div class="list-group-item-text">
            Console output of the last build
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>
              <strong>DFG Jobs</strong>
          </h3>
        </div>
      </div>
    </div>

</div>

  <script>
  $(document).ready(function () {
    // Row Checkbox Selection
    $("input[type='checkbox']").change(function (e) {
      if ($(this).is(":checked")) {
        $(this).closest('.list-group-item').addClass("active");
      } else {
        $(this).closest('.list-group-item').removeClass("active");
      }
    });
    // toggle dropdown menu
    $('.list-view-pf-actions').on('show.bs.dropdown', function () {
      var $this = $(this);
      var $dropdown = $this.find('.dropdown');
      var space = $(window).height() - $dropdown[0].getBoundingClientRect().top - $this.find('.dropdown-menu').outerHeight(true);
      $dropdown.toggleClass('dropup', space < 10);
    });

    // click the list-view heading then expand a row
    $(".list-group-item-header").click(function(event){
      if(!$(event.target).is("button, a, input, .fa-ellipsis-v")){
        $(this).find(".fa-angle-right").toggleClass("fa-angle-down")
          .end().parent().toggleClass("list-view-pf-expand-active")
            .find(".list-group-item-container").toggleClass("hidden");
      } else {
      }
    })

    // click the close button, hide the expand row and remove the active status
    $(".list-group-item-container .close").on("click", function (){
      $(this).parent().addClass("hidden")
        .parent().removeClass("list-view-pf-expand-active")
          .find(".fa-angle-right").removeClass("fa-angle-down");
    })

  });
</script>

<script>
    $('.modal').on('show.bs.modal', function(e) {
        /* Only load the iframe content when the modal is opened */
        var load = $(e.relatedTarget).data('load');
        $(this).find('a').prop('href', function() {
            // Set their src attribute to the value of data-src
            return $(this).data('href').replace('index.html','').concat(load);
        });
        $(this).find('iframe').prop('src', function() {
            // Set their src attribute to the value of data-src
            return $(this).data('src').replace('index.html','').concat(load);
        });

        /* Adjust modal and iframe height based on window size */
        $('.modal .modal-body').css('max-height', $(window).height() * 0.7);
        $('.embed-responsive-item').css('height', $(window).height() * 0.7);
    });

    /* Disable default error alerts from datatables, fold them to the javascript console instead */
    $.fn.dataTable.ext.errMode = 'none';
</script>
