<a href="{{ url_for('jobs.index') }}">
<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
<div class="card-pf card-pf-view">
  <div class="card-pf-body">
    <div class="card-pf-top-element">
      <span class="fa fa-users card-pf-icon-circle"></span>
    </div>
    <h2 class="card-pf-title text-center">
      {{ dfg.name }}
    </h2>
    <div class="card-pf-items text-center">
      <div class="card-pf-item">
      </div>
    </div>
  </div>
  <div class="card-pf-view-checkbox">
    <input type="checkbox">
  </div>
</div>
</div>
</a>
