{% extends "layout.html" %}

{% block content %}

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/c3.min.js') }}"></script>

<br>
<div class="container-fluid col-md-custom col-md-offset-custom">
  <div class="row text-center">
  </div>

{% include "bugs/add_bug_modal.html" -%}
{% include "bugs/add_tests_bug_modal.html" -%}
{% include "bugs/remove_tests_bug_modal.html" -%}
{% include "bugs/remove_bug_modal.html" -%}
{% include "bugs/show_bugs_modal_datatable.html" -%}

{% include "failures/show_failure_modal.html" -%}

{% include "tests/show_tests_modal_datatable.html" -%}

{% include "jobs/show_jobs_table.html" -%}


<div class="container-fluid">
<!-- Pie chart for each release -->
{% for release in releases %}

{% include "DFG_pie_chart.html" -%}

{% endfor %}
</div>
<!-- -->

{% include "tests/failing_tests_datatable.html" -%}


<script>

{% include "failures/show_failure.js" -%}

{% include "bugs/show_bugs.js" -%}
{% include "bugs/remove_tests_bug_from_db.js" -%}
{% include "bugs/remove_tests_bug.js" -%}
{% include "bugs/remove_bug_from_db.js" -%}
{% include "bugs/remove_bug.js" -%}
{% include "bugs/add_bug.js" -%}
{% include "bugs/add_tests_bug.js" -%}
{% include "bugs/submit_bug.js" -%}
{% include "bugs/submit_tests_bug.js" -%}

{% include "tests/show_tests.js" -%}

{% include "common/modal_order.js" -%}
</script>

{% endblock %}
