<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
  <div class="card-pf card-pf-view">                                                                                                                                                          
    <div class="card-pf-body">
      <div class="card-pf-top-element">
      <h2 class="card-pf-title text-center">
        RHOSP {{ release['number'] }}
      </h2>
      </div>
            <div id="pie-chart-{{ release['number'] }}" class="example-pie-chart-right-legend" style="display:inline-block"></div>
      <div class="card-pf-items text-center">
        <div class="card-pf-item">
        </div>
      </div>
    </div>
    <div class="card-pf-view-checkbox">
      <input type="checkbox">
    </div>
  </div>
  </div>


<script>
  var c3ChartDefaults = $().c3ChartDefaults();

  var pieData = {
    type : 'pie',
    colors: {
      Failure: $.pfPaletteColors.red,
      Unstable: $.pfPaletteColors.gold,
      None: '#E8E8E8',
      Success: $.pfPaletteColors.green
    },
    columns: [
      ['Failure', {{ release['FAILURE'] }}],
      ['Unstable', {{ release['UNSTABLE'] }}],
      ['None', {{ release['None'] }}],
      ['Success', {{ release['SUCCESS'] }}]
    ],
    onclick: function (d, i) { 
    
    $("#dfg_jobs_table").removeClass('hidden');

    $('#dfg_jobs_table').DataTable( {
      "ajax": "{{ url_for('jobs.jobs_status', status='FAILURE', dfg=release.dfg, release=release.number) }}".replace("FAILURE", d.id),
      "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
          if ( aData[1] == 'None' )
          {
          $('td', nRow).css('background-color', '#E8E8E8');
          }
          else if ( aData[1] == "SUCCESS" )
          {
          $('td', nRow).css('background-color', '#dff0d8');
          }
          else if ( aData[1] == "UNSTABLE" )
          {
          $('td', nRow).css('background-color', '#fcf8e3');
          }
          else
          {
          $('td', nRow).css('background-color', '#f2dede' );
          }
        },
        columnDefs: [
            {
                targets:0,
                render: function ( data, type, row, meta ) {
                    if(type === 'display'){
                        data = '<a href="{{ agent.url }}/job/' + data + '">' + data + '</a>';
                    }
                    return data;
                }
            },
            {
                targets:1,
                render: function ( data, type, row, meta ) {
                    if(type === 'display' && (row[1] == 'UNSTABLE' || row[1] == 'SUCCESS')){
                        data = '<a href="{{ agent.url }}/job/' + row[0] + '/' + row[2] + '">' + data + '</a>';
                    }
                    else if (type === 'display' && row[1] == 'FAILURE') {
                    data = "Failure <a href={{ url_for('builds.failure_analyze', job='JOB', build='BUILD') }}>(Why did it fail?)</a>".replace("JOB", row[0]).replace("BUILD", row[2]);
                    }
                    else if (type === 'display' && row[1] != 'None' ){
                    data = '<button type="button" onClick="reply_click(\'' + row[0] + '\', \'' + row[2] + '\')" class="btn btn-danger btn-lg">FAILURE_NAME</button>'.replace("FAILURE_NAME", row[1])
                    }
                  return data;
                }
            },
            {
                targets:2,
                render: function ( data, type, row, meta ) {
                    if(type === 'display' && row[2] != 0){
                        data = '<a href="{{ agent.url }}/job/' + row[0] + '/' + row[2] + '">' + data + '</a>';
                    }
                    return data;
                }
            }
        ]
    } );
    
    
    },
    onmouseover: function (d, i) { console.log("onmouseover", d, i); },
    onmouseout: function (d, i) { console.log("onmouseout", d, i); }
  };

  // Pie Chart without Legend
  var pieChartConfig = c3ChartDefaults.getDefaultPieConfig();
  pieChartConfig.bindto = '#pie-chart-{{ release['number'] }}';
  pieChartConfig.data = pieData;
  pieChartConfig.size = {
    width: 200,
    height: 171
  };
  var pieChartNoLegend = c3.generate(pieChartConfig);

</script>
