<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
  <div class="card-pf card-pf-view">                                                                                                                                                          
    <div class="card-pf-body text-center">
      <div class="card-pf-top-element">
      <h2 class="card-pf-title text-center">
        RHOSP {{ release['number'] }}
      </h2>
      </div>
            <div id="pie-chart-{{ release['number'] }}" class="example-pie-chart-right-legend" style="display:inline-block"></div>
      <div class="card-pf-items text-center">
        <div class="card-pf-item">
        </div>
      </div>
    </div>
    <div class="card-pf-view-checkbox">
      <input type="checkbox">
    </div>
  </div>
  </div>


<script>
  var c3ChartDefaults = $().c3ChartDefaults();

  var pieData = {
    type : 'pie',
    colors: {
      Failure: $.pfPaletteColors.red,
      Unstable: $.pfPaletteColors.gold,
      None: '#E8E8E8',
      Aborted: $.pfPaletteColors.purple,
      Success: $.pfPaletteColors.green
    },
    columns: [
      ['Failure', {{ release['FAILURE'] }}],
      ['Unstable', {{ release['UNSTABLE'] }}],
      ['None', {{ release['None'] }}],
      ['Aborted', {{ release['ABORTED'] }}],
      ['Success', {{ release['SUCCESS'] }}]
    ],
    onclick: function (d, i) { 
    
    $("#jobs_table").removeClass('hidden');

    $('#jobs_table').DataTable( {
      "ajax": "{{ url_for('jobs.jobs_status', status='FAILURE', dfg=release.dfg, release=release.number) }}".replace("FAILURE", d.id),
      className: "text-center",
      "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
          if ( aData[1] == 'None' )
          {
          $('td', nRow).css('background-color', '#E8E8E8');
          }
          else if ( aData[1] == "SUCCESS" )
          {
          $('td', nRow).css('background-color', '#dff0d8');
          }
          else if ( aData[1] == "UNSTABLE" )
          {
          $('td', nRow).css('background-color', '#fcf8e3');
          }
          else
          {
          $('td', nRow).css('background-color', '#f2dede' );
          }
        },
        columnDefs: [
            {
                targets:0,
                render: function ( data, type, row, meta ) {
                    if(type === 'display'){
                        data = '<a href="{{ agent.url }}/job/' + data + '">' + data + '</a>';
                    }
                    return data;
                }
            },
            {
                targets:1,
                render: function ( data, type, row, meta ) {
                    if(type === 'display' && (row[1] == 'UNSTABLE' || row[1] == 'SUCCESS' || row[1] == 'ABORTED')){
                        data = '<a href="{{ agent.url }}/job/' + row[0] + '/' + row[2] + '">' + data + '</a>';
                    }
                    else if (type === 'display' && row[1] == 'FAILURE') {
                    data = '<button type="button" onClick="analyze_failure(this, \'' + row[0] + '\', \'' + row[2] + '\')" class="btn btn-danger btn-lg">Failure - Tell me why!</button>'
                    }
                    else if (type === 'display' && row[1] != 'None' ){
                    data = '<button type="button" onClick="show_failure(\'' + row[0] + '\', \'' + row[2] + '\')" class="btn btn-danger btn-lg">FAILURE_NAME</button>'.replace("FAILURE_NAME", row[1])
                    }
                  return data;
                }
            },
            {
                targets:2,
                render: function ( data, type, row, meta ) {
                    if(type === 'display' && row[2] != 0){
                        data = '<a href="{{ agent.url }}/job/' + row[0] + '/' + row[2] + '">' + data + '</a>';
                    }
                    return data;
                }
            },
            {
                targets:3,
                className: "text-center",
                render: function ( data, type, row, meta ) {
                    if(type === 'display' && row[2] != 0){
                    data = '<button type="button" onClick="show_tests(\'' + row[0] + '\', \'' + row[2] + '\')" class="btn btn-info btn-lg">Tests</button>'
                    }
                    return data;
                }
            },
            {
                targets:6,
                className: "text-center",
                render: function ( data, type, row, meta ) {
                    if(type === 'display'){
                    data = '<button type="button" id=\'' + row[0] +'\' onClick="add_bug(\'' + row[0] + '\', \'' + row[2] + '\', id)" class="btn btn-primary btn-lg" style="margin-right: 5px;">+</button>'
                      var arrayLength = row[6].length;
                      if(arrayLength > 0){
                        data = data + '<button id="button-'+ row[0] +'" type="button" onClick="show_bugs(\'' + row[0] + '\')" class="btn btn-danger btn-lg">Bugs</button>';
                      }
                    }
                    return data;
                }
            }
        ]
    } );
    
    
    },
  };

  // Pie Chart without Legend
  var pieChartConfig = c3ChartDefaults.getDefaultPieConfig();
  pieChartConfig.bindto = '#pie-chart-{{ release['number'] }}';
  pieChartConfig.data = pieData;
  pieChartConfig.size = {
    width: 200,
    height: 171
  };
  var pieChartNoLegend = c3.generate(pieChartConfig);

</script>
