{% extends "layout.html" %}

{% block content %}

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/c3.min.js') }}"></script>

<br>
<div class="container-fluid col-md-custom col-md-offset-custom">
  <div class="row text-center">
  </div>

<!-- Failure Modal -->
<div id="failure_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
              <div id="failure_info_div">
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Tests Modal -->
<div id="tests_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" style="width:1250px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-title-tests">Modal Header</h4>
      </div>
      <div class="modal-body">
              <div id="tests_body_div">
        <table id="tests_table" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
                <th>Class Name</th>
                <th>Test Name</th>
                <th>Status</th>
            </tr>
          </thead>
        </table>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<table id="dfg_jobs_table" class="table table-striped table-bordered table-hover hidden">
        <thead>
            <tr>
                <th>Job Name</th>
                <th>Last Build Status</th>
                <th>Last Build Number</th>
                <th>Tests</th>
            </tr>
        </thead>
</table>

<!-- Pie chart for each release -->
{% for release in releases %}

{% include "DFG_pie_chart.html" -%}

{% endfor %}
<!-- -->

<script>

function reply_click(job, build)
{
  $.ajax({
    type:"GET",
    dataType: "json",
    data: {'job': job, 'build': build},
    url: "{{ url_for('builds.get_failure') }}",
    success: function(response){
      document.getElementById("modal-title").innerHTML = job + "  Build#" + build ;
      var div = document.getElementById('failure_info_div');
      div.innerHTML = "";
      div.innerHTML += "<div class='alert alert-danger'>Found the failure: " + response.failure_text + "</div>";
      div.innerHTML += "<br>";
      div.innerHTML += "<div class='alert alert-info'>Cause: " + response.failure_cause + "</div>";
      div.innerHTML += "<br>";
      div.innerHTML += "<div class='alert alert-success'> Suggested action: " + response.failure_action + "</div>";
      $("#failure_modal").modal();
    }
  });

}

function show_tests(job, build)
{
      $('#tests_table').DataTable( {
        "ajax": {
          "data": {'job': job, 'build': build},
          "url": "{{ url_for('tests.get_tests_datatable') }}",
        },
        "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            if ( aData[2] == "PASSED" )
            {
            $('td', nRow).css('background-color', '#dff0d8');
            }
            else if ( aData[2] == "FAILED" )
            {
            $('td', nRow).css('background-color', '#f2dede' );
            }
            else
            {
            $('td', nRow).css('background-color', '#d9edf7');
            }
          },
        columnDefs: [
            {
                targets:[0, 1],
                render: function ( data, type, row, meta ) {
                    if(type === 'display' && data != 'No tests'){
                        replacement = '/';
                        old_class_name = row[0];
                        old_test_name = row[1];
                        class_name = old_class_name.replace(/\.([^\.]*)$/,replacement+'$1');
                        var test_name = old_test_name.replace(/-/g, "_").replace('[', '_').replace(']', '_').replace(',', '_');
                        data = '<a href="{{ agent.url }}/job/' + job + '/' + build + '/testReport/' + class_name + '/' + test_name + '">' + data + '</a>';
                    }
                    return data;
                }
            },
          ],
      });
      document.getElementById("modal-title-tests").innerHTML = job + "  Build#" + build;
      $("#tests_modal").modal();

}

</script>

{% endblock %}
