{% extends "layout.html" %}

{% block content %}

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/c3.min.js') }}"></script>

<br>
<div class="container-fluid col-md-custom col-md-offset-custom">
  <div class="row text-center">
  </div>

<!-- Add Tests Bug Modal -->
<div id="add_tests_bug_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-title">Add a new bug</h4>
      </div>
      <div class="modal-body">


                <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-danger active" style="height:35px; width:105px; font-size: 120%;">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked > Bugzilla
                </label>
                </div>

                <br><br>

                <div class="input-group col-xs-4" style="white-space: pre-line;">
                  <span class="input-group-addon">#</span>
                  <input id="tests_bug_num" type="text" class="form-control" placeholder="Bug number">
                </div> 

                <div class="input-group col-xs-12" style="white-space: pre-line;">
                  <span class="input-group-addon">Class</span>
                  <input id="class_name" type="text" class="form-control" disabled>
                </div> 
                <div class="input-group col-xs-12" style="white-space: pre-line;">
                  <span class="input-group-addon">Test</span>
                  <input id="test_name" type="text" class="form-control" disabled>
                </div> 

                <br>

                Apply on all tests in the class  <input id="apply_on_class" type="checkbox" data-toggle="toggle" style="margin-left: 15px;">

                <br><br>
                <button type="button" onClick="submit_tests_bug()" class="btn btn-primary" style="height:35px; width:105px; font-size: 120%;">Add bug</button>
                <br><br>

                <div id="add_tests_bug_spinner" class="spinner spinner-lg hidden"></div>

                <div class="alert alert-danger hidden" id="tests_bug_alert_div" style="white-space: pre-line;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Add Bug Modal -->
<div id="add_bug_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-title">Add a new bug</h4>
      </div>
      <div class="modal-body">


                <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-danger active" style="height:35px; width:105px; font-size: 120%;">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked > Bugzilla
                </label>
                </div>

                <br><br>

                <div class="input-group col-xs-4" style="white-space: pre-line;">
                  <span class="input-group-addon">#</span>
                  <input id="bug_num" type="text" class="form-control" placeholder="Bug number">
                </div> 

                <div class="input-group col-xs-10" style="white-space: pre-line;">
                  <span class="input-group-addon">Job Name</span>
                  <input id="job_name" type="text" class="form-control" disabled>
                </div> 

                <br>

                <!-- Apply on all tests in the class  <input type="checkbox" data-toggle="toggle" style="margin-left: 15px;"> -->

                <br><br>
                <button type="button" onClick="submit_bug()" class="btn btn-primary" style="height:35px; width:105px; font-size: 120%;">Add bug</button>
                <br><br>

                <div id="add_bug_spinner" class="spinner spinner-lg hidden"></div>

                <div class="alert alert-danger hidden" id="bug_alert_div" style="white-space: pre-line;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Failure Modal -->
<div id="failure_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
              <div id="failure_info_div">
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Remove Tests Bug Modal -->
<div id="remove_tests_bug_modal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-title">Remove bug from RHOCI</h4>
      </div>
      <div class="modal-body">

                <div class="input-group col-xs-4" style="white-space: pre-line;">
                  <span class="input-group-addon">#</span>
                  <input id="remove_tests_bug_num" type="text" class="form-control" disabled>
                </div> 
                <div class="input-group col-xs-12" style="white-space: pre-line;">
                  <span class="input-group-addon">Class </span>
                  <input id="remove_bug_test_class" type="text" class="form-control" disabled>
                </div> 
                <div class="input-group col-xs-12" style="white-space: pre-line;">
                  <span class="input-group-addon">Test </span>
                  <input id="remove_bug_test_name" type="text" class="form-control" disabled>
                </div> 

                <br>

                Remove from all tests and jobs?  <input id="tests_remove_all" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" style="margin-left: 15px;">

                <br><br>
                <button type="button" onClick="remove_tests_bug_from_db()" class="btn btn-danger" style="height:35px; width:105px; font-size: 120%;">Confirm</button>
                <br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Remove Bug Modal -->
<div id="remove_bug_modal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-title">Remove bug from RHOCI</h4>
      </div>
      <div class="modal-body">

                <div class="input-group col-xs-4" style="white-space: pre-line;">
                  <span class="input-group-addon">#</span>
                  <input id="remove_bug_num" type="text" class="form-control" disabled>
                </div> 
                <div class="input-group col-xs-12" style="white-space: pre-line;">
                  <span class="input-group-addon">Job </span>
                  <input id="remove_bug_job" type="text" class="form-control" disabled>
                </div> 

                <br>

                Remove from all jobs and tests?  <input id="remove_all" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" style="margin-left: 15px;">

                <br><br>
                <button type="button" onClick="remove_bug_from_db()" class="btn btn-danger" style="height:35px; width:105px; font-size: 120%;">Confirm</button>
                <br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Tests Modal -->
<div id="tests_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" style="width:1250px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-title-tests">Modal Header</h4>
      </div>
      <div class="modal-body">
              <div id="tests_body_div">
        <table id="tests_table" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
                <th>Class Name</th>
                <th>Test Name</th>
                <th>Status</th>
                <th>Bugs</th>
            </tr>
          </thead>
        </table>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Bugs Modal -->
<div id="bugs_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" style="width:1250px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-title-bugs">Modal Header</h4>
      </div>
      <div class="modal-body">
              <div id="bugs_body_div">
        <table id="bugs_table" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
                <th>Summary</th>
                <th>Number</th>
                <th>Status</th>
                <th>System</th>
                <th>Action</th>
            </tr>
          </thead>
        </table>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<table id="dfg_jobs_table" class="table table-striped table-bordered table-hover hidden">
        <thead>
            <tr>
                <th>Job Name</th>
                <th>Last Build Status</th>
                <th>Last Build Number</th>
                <th>Tests</th>
                <th>Bug Assignee</th>
                <th>Bug Status</th>
                <th id="bugs_th">Bugs</th>
            </tr>
        </thead>
</table>

<div class="container-fluid">
<!-- Pie chart for each release -->
{% for release in releases %}

{% include "DFG_pie_chart.html" -%}

{% endfor %}
</div>
<!-- -->

  <div class="container-fluid">
      <div class="row">
          <h3>
              <strong>Failing Tests</strong>
          </h3>
          <table class="table table-striped table-bordered table-hover" id="failed_tests_table">
            <thead>
              <tr>
                <th>Class Name</th>
                <th>Test Name</th>
                <th>Job Name</th>
                <th>Build Number</th>
                <th>Status</th>
                <th>Bug Assignee</th>
                <th>Bug Status</th>
                <th>Bugs</th>
              </tr>
            </thead>
          </table>
      </div>
  </div>

<script>

function reply_click(job, build)
{
  $.ajax({
    type:"GET",
    dataType: "json",
    data: {'job': job, 'build': build},
    url: "{{ url_for('builds.get_failure') }}",
    success: function(response){
      document.getElementById("modal-title").innerHTML = job + "  Build#" + build ;
      var div = document.getElementById('failure_info_div');
      div.innerHTML = "";
      div.innerHTML += "<div class='alert alert-danger'>Found the failure: " + response.failure_text + "</div>";
      div.innerHTML += "<br>";
      div.innerHTML += "<div class='alert alert-info'>Cause: " + response.failure_cause + "</div>";
      div.innerHTML += "<br>";
      div.innerHTML += "<div class='alert alert-success'> Suggested action: " + response.failure_action + "</div>";
      $("#failure_modal").modal();
    }
  });

}

function show_bugs(job, test_class, test_name)
{
      $('#bugs_table').DataTable( {
        "ajax": {
          "data": {'job': job, 'test_class': test_class, 'test_name': test_name},
          "url": "{{ url_for('home.get_bugs_datatable') }}",
        },
        "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            if ( aData[2] == "CLOSED" )
            {
            $('td', nRow).css('background-color', '#dff0d8');
            }
            if ( aData[2] == "NEW" )
            {
            $('td', nRow).css('background-color', '#f2dede' );
            }
            if ( aData[2] == "ASSIGNED" )
            {
            $('td', nRow).css('background-color', '#fcf8e3');
            }
        },
        columnDefs: [
            {
                targets:[4],
                className: "text-center",
                render: function ( data, type, row, meta ) {
                        if (job === undefined || job === null || job === '') {
                        data = '<button type="button" onClick="remove_tests_bug(\'' + row[1] + '\', \'' + test_class + '\', \'' + test_name + '\')" data-id=\'' + row[1] +'\' data-test=\'' + test_name + '\' class="btn btn-info btn-lg">remove</button>'
                        }
                        else {
                        data = '<button type="button" onClick="remove_bug(\'' + row[1] + '\', \'' + job + '\')" data-id=\'' + row[1] +'\' class="btn btn-info btn-lg">remove</button>'
                        }
                        return data;
                }
            },
          ],
      });

      document.getElementById("modal-title-bugs").innerHTML = job + "  bugs";
      $("#bugs_modal").modal({show:true, backdrop: false});
}

function remove_tests_bug_from_db()
{
  var all = $('#tests_remove_all').prop('checked');
  var id = $('#remove_tests_bug_modal').data('id');
  var test_class = $('#remove_tests_bug_modal').data('test_class');
  var test_name = $('#remove_tests_bug_modal').data('test_name');

  $.ajax({
    type:"GET",
    dataType: "json",
    data: {'bug_num': id, 'test_name': test_name, 'test_class': test_class, 'remove_all': all},
    url: "{{ url_for('home.remove_tests_bug') }}",
  });


  $('[data-id='+id+']').parents('tr').remove();
  $("#remove_tests_bug_modal").modal('hide');
}

function remove_bug_from_db()
{
  var all = $('#remove_all').prop('checked');
  var id = $('#remove_bug_modal').data('id');
  var job = $('#remove_bug_modal').data('job');

  $.ajax({
    type:"GET",
    dataType: "json",
    data: {'bug_num': id, 'job': job, 'test': 'y', 'remove_all': all},
    url: "{{ url_for('home.remove_bug') }}",
  });


  $('[data-id='+id+']').parents('tr').remove();
  $("#remove_bug_modal").modal('hide');
}

function remove_tests_bug(bug_num, test_class, test_name)
{
      var s = document.getElementById("remove_tests_bug_num");
      s.value = bug_num;
      var x = document.getElementById("remove_bug_test_class");
      x.value = test_class;
      var y = document.getElementById("remove_bug_test_name");
      y.value = test_name;
      $('#remove_tests_bug_modal').data('id', bug_num).data('test_class', test_class).data('test_name', test_name).modal('show');
}

function remove_bug(bug_num, job)
{
      var s = document.getElementById("remove_bug_num");
      s.value = bug_num;
      var x = document.getElementById("remove_bug_job");
      x.value = job;
      $('#remove_bug_modal').data('id', bug_num).data('job', job).modal('show');
}

function add_bug(job, build, id)
{
      var s = document.getElementById("job_name");
      s.value = id;
      $("#add_bug_modal").modal();
      $("#bug_alert_div").addClass('hidden');
}


function add_tests_bug(test_class, test_name, id)
{
      var s = document.getElementById("class_name");
      s.value = test_class;
      var x = document.getElementById("test_name");
      x.value = test_name;

      $("#add_tests_bug_modal").data('id', id).modal('show');
      $("#tests_bug_alert_div").addClass('hidden');
}

function submit_bug()
{
  var bug_num = document.getElementById("bug_num").value;
  var bug_cell_id = document.getElementById("job_name").value;
  $("#bug_alert_div").addClass('hidden');
  $("#add_bug_spinner").removeClass('hidden');

  $.ajax({
    type:"GET",
    dataType: "json",
    data: {'bug_num': bug_num, 'job_name': bug_cell_id},
    url: "{{ url_for('home.bug_exists') }}",
    success: function(response){
      $("#add_bug_spinner").addClass('hidden');
      if (response.exists) {
        if ($('#button-' + bug_cell_id).length == 0) {
      $( '<button id="button-'+ bug_cell_id +'" type="button" style="margin-right: 5px;" onClick="show_bugs(\'' + bug_cell_id + '\')" class="btn btn-danger btn-lg">Bugs</button>' ).insertAfter( "#" + bug_cell_id );
        }
      $("#add_bug_modal").modal('hide');
      }
  else {
        $("#add_bug_spinner").addClass('hidden');
        $("#bug_alert_div").removeClass('hidden');
        $("#bug_alert_div").text(response.err_msg);
  }
    }
  });
}

function submit_tests_bug()
{
  var tests_bug_num = document.getElementById("tests_bug_num").value;
  var test_class = document.getElementById("class_name").value;
  var test_name = document.getElementById("test_name").value;
  var id = $('#add_tests_bug_modal').data('id');
  var apply_on_class = $('#apply_on_class').prop('checked');

  $("#tests_bug_alert_div").addClass('hidden');
  $("#add_tests_bug_spinner").removeClass('hidden');

  $.ajax({
    type:"GET",
    dataType: "json",
    data: {'bug_num': tests_bug_num, 'test_class': test_class, 'test_name': test_name, 'apply_on_class': apply_on_class},
    url: "{{ url_for('home.bug_exists') }}",
    success: function(response){
      $("#add_tests_bug_spinner").addClass('hidden');
      if (response.exists) {
        if ($('#button-' + test_class).length == 0) {
      $( '<button id="button-'+ id +'" type="button" style="margin-right: 5px;" onClick="show_bugs(\'\', \'' + test_class + '\', \'' + test_name + '\')" class="btn btn-danger btn-lg">Bugs</button>' ).insertAfter( "#" + id );
        }
      $("#add_tests_bug_modal").modal('hide');
      }
  else {
        $("#add_tests_bug_spinner").addClass('hidden');
        $("#tests_bug_alert_div").removeClass('hidden');
        $("#tests_bug_alert_div").text(response.err_msg);
  }
    }
  });
}

function show_tests(job, build)
{
      $('#tests_table').DataTable( {
        "ajax": {
          "data": {'job': job, 'build': build},
          "url": "{{ url_for('tests.get_tests_datatable') }}",
        },
        "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            if ( aData[2] == "PASSED" )
            {
            $('td', nRow).css('background-color', '#dff0d8');
            }
            else if ( aData[2] == "FAILED" || aData[2] == "REGRESSION" )
            {
            $('td', nRow).css('background-color', '#f2dede' );
            }
            else
            {
            $('td', nRow).css('background-color', '#d9edf7');
            }
          },
        columnDefs: [
            {
                targets:[0, 1],
                className: "text-center",
                render: function ( data, type, row, meta ) {
                    if(type === 'display' && data != 'No tests'){
                        replacement = '/';
                        old_class_name = row[0];
                        old_test_name = row[1];
                        class_name = old_class_name.replace(/\.([^\.]*)$/,replacement+'$1');
                        var test_name = old_test_name.replace(/-/g, "_").replace('[', '_').replace(']', '_').replace(/,/g, "_").replace(/ /g,"_").replace(/\(/g, "_").replace(/\)/g, "_");
                        data = '<a href="{{ agent.url }}/job/' + job + '/' + build + '/testReport/' + class_name + '/' + test_name + '">' + data + '</a>';
                    }
                    return data;
                }
            },
          {
                targets:3,
                className: "text-center",
                render: function ( data, type, row, meta ) {
                    if(type === 'display'){
                    data = '<button type="button" id=id=\'' + meta.row + meta.cell + '\' onClick="add_tests_bug(\'' + row[0] + '\', \'' + row[1] + '\', id)" class="btn btn-primary btn-lg" style="margin-right: 5px;">+</button>'
                      var arrayLength = row[5].length;
                      if(arrayLength > 0){
                        data = data + '<button id="button-'+ row[0] +'" type="button" onClick="show_bugs(\'\', \'' + row[0] + '\', \'' + row[1] + '\')" class="btn btn-danger btn-lg">Bugs</button>';
                      }
                    }
                  return data;
                }
          },
          ],
      });
      document.getElementById("modal-title-tests").innerHTML = job + "  Build#" + build;
      $("#tests_modal").modal();

}

    $('#failed_tests_table').DataTable( {
        "ajax": "{{ url_for('tests.failing_tests_dfg', dfg=dfg) }}",
    "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
        $('td', nRow).css('background-color', '#f2dede' );
    },
    columnDefs: [
            {
                targets:[0, 1],
                className: "text-center",
                render: function ( data, type, row, meta ) {
                    if(type === 'display' && data != 'No tests'){
                        replacement = '/';
                        old_class_name = row[0];
                        old_test_name = row[1];
                        class_name = old_class_name.replace(/\.([^\.]*)$/,replacement+'$1');
                        var test_name = old_test_name.replace(/-/g, "_").replace('[', '_').replace(']', '_').replace(/,/g, "_").replace(/ /g,"_").replace(/\(/g, "_").replace(/\)/g, "_");
                        data = '<a href="{{ agent.url }}/job/' + row[2] + '/' + row[3] + '/testReport/' + class_name + '/' + test_name + '">' + data + '</a>';
                    }
                    return data;
                }
            },
          {
                targets:7,
                className: "text-center",
                render: function ( data, type, row, meta ) {
                    if(type === 'display'){
                    data = '<button type="button" id=\'' + meta.row + '\' onClick="add_tests_bug(\'' + row[0] + '\', \'' + row[1] + '\', id)" class="btn btn-primary btn-lg" style="margin-right: 5px;">+</button>'
                      var arrayLength = row[7].length;
                      if(arrayLength > 0){
                        data = data + '<button id="button-'+ row[0] +'" type="button" onClick="show_bugs(\'\', \'' + row[0] + '\', \'' + row[1] + '\')" class="btn btn-danger btn-lg">Bugs</button>';
                      }
                    }
                  return data;
                }
          }
          ],
    });

$(document).on('show.bs.modal', '.modal', function () {
    var zIndex = 1040 + (10 * $('.modal:visible').length);
    $(this).css('z-index', zIndex);
    setTimeout(function() {
        $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
    }, 0);
});
</script>

{% endblock %}
