{% extends "layout.html" %}

{% block content %}
<br>

<div class="container">

<form class="form-horizontal" id="jjb_data">
  <!-- form start-->

  <!-- Job input start -->
  <div class="form-group center-block">
    <label class="col-sm-4 col-md-4 control-label" for="exampleInput">Job</label>
    <div class="col-sm-4">
      <input type="text" id="job_input" class="form-control">
    </div>
  </div>
  <!-- Job input end -->

  <!-- Build input start -->
  <div class="form-group center-block">
    <label class="col-sm-4 col-md-4 control-label" for="exampleInput">Build</label>
    <div class="col-sm-2">
      <input type="text" id="build_input" class="form-control">
    </div>
  </div>
  <!--- Build input end -->

  <!-- buttons start -->
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
       <button type="button" class="btn btn-primary btn-lg" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Analyzing...">Analyze!</button>
    </div>
  </div>
  <!-- buttons end -->

  <!-- form end-->
</form>

<div class="container hidden" id="loading_div">
<img src="{{ url_for('static', filename='images/pacman.gif') }}" style="display:block;margin:auto;" />
</div>


<div class="container hidden" id="info_div">
</div>

{% include "alert.html" -%}

{% include "logs.html" -%}

{% include "failure.html" -%}

</div>

<script>

$('.btn').on('click', function() {
  var $this = $(this);

  // Assign variables from forms
  var job = $('#job_input').val();
  var build = $('#build_input').val();
  $("#alert_div").addClass('hidden');
  $("#loading_div").removeClass('hidden');
  $("#logs_table tr").remove(); 
  $("#logs_div").addClass('hidden');
  $("#failure_div").addClass('hidden');
  $("#info_div").addClass('hidden');

  input_validation();



function input_validation() {
  
  $.ajax({
    type:"GET",
    dataType: "json",
    data: {'job': job, 'build': build},
    url: "{{ url_for('builds.exists') }}",
    success: function(response){
      console.log("begin");
      if (response.exists) {
        console.log("obtain logs!");
        obtain_logs();
      }
      else {
        $("#alert_div").removeClass('hidden');
        $("#alert_div").text(response.message);
        $("#loading_div").addClass('hidden');
      }
    }
  });
  
  }

function obtain_logs() {

  $.ajax({
    type:"GET",
    dataType: "json",
    data: {'job': job, 'build': build},
    url: "{{ url_for('builds.obtain_logs') }}",
    success: function(response){
      if (response.found) {
        console.log(response.message);
        $("#logs_div").removeClass('hidden');
        var table = document.getElementById("logs_table");
        for(var i =0; i<(response.logs).length; i++) {
        var row = table.insertRow(0);
        var cell = row.insertCell(0);
        cell.innerHTML = response.logs[i];
        }
        
        find_error(response.logs);

      }
      else {
        $("#alert_div").removeClass('hidden');
        $("#alert_div").text(response.message);
        $("#loading_div").addClass('hidden');
      }
    }
  });

}


function find_error(logs) {

  var found = false;
  var failure_name = '';

  for(var i =0; i<(logs).length; i++) {

  $.ajax({
    type:"GET",
    dataType: "json",
    data: {'log': logs[i], 'job': job, 'build': build},
    url: "{{ url_for('builds.find_failure') }}",
    success: function(response){
    
      if (response.found) {
      console.log("Yay found the failure!!!")
      console.log(logs[i])
      found = true;
      failure_name = response.failure_name;
      }
    
    }
  });


  }

  if (found == false){
    $("#alert_div").removeClass('hidden');
    $("#alert_div").text("Couldn't find any error :( Teach me!");
  }
  else {
    $("#failure_div").removeClass('hidden');
    $("#failure_div").text(failure_name);
  }

  $("#loading_div").addClass('hidden');
}



});





</script>

{% endblock %}
