<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Red Hat OpenStack CI Dashboard">
  <meta name="author" content="Arie Bregman">

  {% block stylesheets %}
  <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap-treeview.min.css') }}"></script>
  <link href="{{ url_for('static', filename='css/c3.css') }}"></script>
  <link href="{{ url_for('static', filename='css/style.min.css') }}"></script>
  <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/preview/searchPane/dataTables.searchPane.min.css"/>
  {% endblock %}

  {% block scripts %}
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
  <script src="{{ url_for('static', filename='js/jquery.matchHeight-min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.matchHeight-min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-treeview.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/preview/searchPane/dataTables.searchPane.min.js"></script>

  {% endblock %}


  <title>{% block title %}RHOCI - Red Hat OSP CI Dashboard{% endblock %}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

</head>
