<!DOCTYPE html>
<html class="layout-pf">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block scripts %}
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.matchHeight-min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.matchHeight-min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/patternfly.dataTables.pfPagination.js') }}"></script>
  <script src="{{ url_for('static', filename='js/patternfly.dataTables.pfPagination.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/patternfly.dataTables.pfFilter.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-treeview.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
  <script src="{{ url_for('static', filename='js/patternfly.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

  {% endblock %}

  {% block stylesheets %}
  <link href="{{ url_for('static', filename='css/patternfly.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/patternfly-additions.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap-treeview.min.css') }}"></script>
  {% endblock %}

  <title>{% block title %}RHOCI - RHOSP CI Management System{% endblock %}</title>
</head>
