{% extends "layout.html" %}

{% block content %}


<div class="container-fluid">

  <!-- Breadcrumbs-->
  {% with breadcrumb_section='release' %}
     {% include "breadcrumb.html" %}
  {% endwith %}

  <div class="row">

     {% for release in releases %}
       {% with release=release %}
         {% include "releases/release_card.html" -%}
       {% endwith %}
     {% endfor %}

  </div> <!-- row -->

  <br>
  <!-- Breadcrumbs-->
  {% with breadcrumb_section='DFGs' %}
     {% include "breadcrumb.html" %}
  {% endwith %}

  <div class="row">

     {% for DFG in DFGs %}
       {% with DFG=DFG %}
         {% include "DFG/one_grp_card.html" -%}
       {% endwith %}
     {% endfor %}


</div> <!-- /container-fluid -->

        

{% endblock %}
