  <div class="list-group-item hidden" id="logs_div">
    <div class="list-group-item-header">
      <div class="list-view-pf-expand">
        <span class="fa fa-angle-right"></span>
      </div>

    <div class="list-view-pf-main-info">
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading" style="font-size:20px">
            Logs
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h4>
              <table id="logs_table">
              </table>
          </h4>
        </div>
      </div>
    </div>

</div>

<script>
    $('.modal').on('show.bs.modal', function(e) {
        /* Only load the iframe content when the modal is opened */
        var load = $(e.relatedTarget).data('load');
        $(this).find('a').prop('href', function() {
            // Set their src attribute to the value of data-src
            return $(this).data('href').replace('index.html','').concat(load);
        });
        $(this).find('iframe').prop('src', function() {
            // Set their src attribute to the value of data-src
            return $(this).data('src').replace('index.html','').concat(load);
        });
</script>
