<nav class="navbar navbar-default navbar-pf" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('home.index') }}">
           <img src="{{ url_for('static', filename='images/rhoci-logo.png') }}" alt="RHOCI"/>
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility">
            <li><a href="{{ url_for('home.changelog') }}"><strong>Changelog</strong></a></li>
            <li><a href="{{ url_for('doc.public_doc') }}"><strong>API</strong></a></li>
            <li><a href="https://github.com/bregman-arie/RHOCI" target="_blank"><strong>Source Code</strong></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-primary">
          
          <!-- Home page button -->
            <li>
                <a href="{{ url_for('home.index') }}">Home</a>
            </li>

          <!-- Views page button -->
            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Views<b class="caret"></b></a>
               <ul class="dropdown-menu">

               <li>
                 <a href="{{ url_for('dfg.index') }}">DFG</a>
               </li>

               <li>
                 <a href="{{ url_for('home.releases') }}">Release</a>
               </li>

               </ul>
            </li>

          <!-- Jobs dropdown-->
            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs<b class="caret"></b></a>
               <ul class="dropdown-menu">

               <li>
                 <a href="{{ url_for('jobs.index') }}">All jobs</a>
               </li>

               <li class="divider"></li>

               <li>
                 <a href="{{ url_for('add_job.index') }}">Add job</a>
               </li>

               <li>
                 <a href="{{ url_for('job_analyzer.index') }}">Analyze job</a>
               </li>

               <li>
                 <a href="{{ url_for('job_analyzer.index') }}">Trigger jobs</a>
               </li>

               </ul>
            </li>

          <!-- Builds page button -->
            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Builds<b class="caret"></b></a>
               <ul class="dropdown-menu">

               <li>
                 <a href="{{ url_for('builds.active') }}">Active builds</a>
               </li>

               <li>
                 <a href="{{ url_for('builds.all_builds') }}">All builds</a>
               </li>

               <li class="divider"></li>

               <li>
                 <a href="{{ url_for('builds.tests_compare') }}">Compare test results</a>
               </li>

               </ul>
            </li>

          <!-- Tests page button -->
            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tests<b class="caret"></b></a>
               <ul class="dropdown-menu">

               <li>
                 <a href="{{ url_for('tests.unique_tests') }}">Unique tests</a>
               </li>

               <li class="divider"></li>

               <li>
                 <a href="{{ url_for('builds.tests_compare') }}">Compare test results</a>
               </li>

               </ul>
            </li>


          <!-- Jenkins page button -->
            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jenkins<b class="caret"></b></a>
               <ul class="dropdown-menu">

            <!-- Nodes page button -->
              <li>
                  <a href="{{ url_for('nodes.index') }}">Nodes</a>
              </li>

            <!-- Plugins page button -->
              <li>
                  <a href="{{ url_for('plugins.index') }}">Plugins</a>
              </li>

               </ul>
            </li>


          <!-- Bugs page button -->
            <li>
                <a href="{{ url_for('home.bugs') }}">Bugs</a>
            </li>

        </ul>
    </div>
</nav>
