<nav class="navbar navbar-expand navbar-dark bg-dark topbar mb-4 static-top shadow">

        <!-- Logo -->
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
           <img src="{{ url_for('static', filename='images/rhoci-logo.png') }}" alt="RHOCI"/>
        </a>
        
        <ul class="navbar-nav"> 

          <!-- Home page button -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
            </li>

          <!-- Views dropdown -->
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                DFG
              </a>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('DFG.DFGs') }}">All</a>
                <a class="dropdown-item" href="{{ url_for('DFG.squads') }}">Squads</a>
                <a class="dropdown-item" href="{{ url_for('DFG.components') }}">Components</a>
              </div>
          </li>

          <!-- Jobs dropdown -->
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Jobs
              </a>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('jobs.index') }}">All</a>
                <a class="dropdown-item" href="{{ url_for('jobs.generate') }}">Generate</a>
                <a class="dropdown-item" href="{{ url_for('jobs.search') }}">Search</a>
                <a class="dropdown-item" href="{{ url_for('jobs.last_added') }}">Last Added</a>
              </div>
          </li>

          <!-- Builds dropdown -->
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Builds
              </a>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('jobs.builds') }}">All</a>
                <a class="dropdown-item" href="{{ url_for('jobs.search_builds') }}">Search</a>
                <a class="dropdown-item" href="{{ url_for('jobs.active_builds') }}">Active Builds</a>
              </div>
          </li>

          <!-- Tests dropdown -->
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Tests
              </a>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('tests.index') }}">All</a>
                <a class="dropdown-item" href="{{ url_for('jobs.search_tests') }}">Search</a>
              </div>
          </li>

        </ul>
        <ul class="navbar-nav ml-auto">
          {% if current_user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
            </li>
          {% else %}
          <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600">{{ current_user.username }}</span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('main.logout') }}" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          {% endif %}
        </ul>
</nav>
