{% extends "layout.html" %}

{% block content %}

<!-- Main container -->
<br>
<div class="container-fluid col-md-custom col-md-offset-custom">
  <div class="row text-center">
  </div>

{% for node in nodes %}

<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
<div class="card-pf card-pf-view ">
  <div class="card-pf-body">
    <div class="card-pf-top-element">
      <span class="pf pficon-server card-pf-icon-circle"></span>
    </div>
    <h2 class="card-pf-title text-center">
      {{ node.name }}
    </h2>
    <div class="card-pf-items text-center">
      <div class="card-pf-item">
        <span class="card-pf-item-text">Enabled</span>
        <span class="fa fa-check"></span>
      </div>
    </div>
    <p class="card-pf-info text-center"><strong>{{ node.jenkins_server }}</strong>Jenkins Server <br/> Never Expires</p>
  </div>
  <div class="card-pf-view-checkbox">
    <input type="checkbox">
  </div>
</div>
</div>

{% endfor %}

<!-- -->
{% endblock %}
