{% extends "layout.html" %}

{% block content %}
<br>

<div class="container">

<form class="form-horizontal" id="jjb_data">
  <!-- form start-->

  <!-- Job input start -->
  <div class="form-group center-block">
    <label class="col-sm-4 col-md-4 control-label" for="exampleInput">Job</label>
    <div class="col-sm-4">
      <input type="text" id="job_input" class="form-control" value="{{ job }}">
    </div>
  </div>
  <!-- Job input end -->

  <!-- Build input start -->
  <div class="form-group center-block">
    <label class="col-sm-4 col-md-4 control-label" for="exampleInput">Build</label>
    <div class="col-sm-2">
      <input type="text" id="build_input" class="form-control" value="{{ build }}">
    </div>
  </div>
  <!--- Build input end -->

  <!-- buttons start -->
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
       <button type="button" class="btn btn-primary btn-lg" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Analyzing...">Analyze!</button>
    </div>
  </div>
  <!-- buttons end -->

  <!-- form end-->
</form>

<div class="container hidden" id="loading_div">
<img src="{{ url_for('static', filename='images/pacman.gif') }}" style="display:block;margin:auto;" />
</div>


<div class="container hidden" id="info_div">
</div>

{% include "alert.html" -%}

<div class="list-group list-view-pf list-view-pf-view">
{% include "logs.html" -%}

{% include "failure.html" -%}
</div>

</div>

<script>


{% include "failure_analyzer.js" -%}

</script>
  <script>
  $(document).ready(function () {
    // Row Checkbox Selection
    $("input[type='checkbox']").change(function (e) {
      if ($(this).is(":checked")) {
        $(this).closest('.list-group-item').addClass("active");
      } else {
        $(this).closest('.list-group-item').removeClass("active");
      }
    });
    // toggle dropdown menu
    $('.list-view-pf-actions').on('show.bs.dropdown', function () {
      var $this = $(this);
      var $dropdown = $this.find('.dropdown');
      var space = $(window).height() - $dropdown[0].getBoundingClientRect().top - $this.find('.dropdown-menu').outerHeight(true);
      $dropdown.toggleClass('dropup', space < 10);
    });

    // click the list-view heading then expand a row
    $(".list-group-item-header").click(function(event){
      if(!$(event.target).is("button, a, input, .fa-ellipsis-v")){
        $(this).find(".fa-angle-right").toggleClass("fa-angle-down")
          .end().parent().toggleClass("list-view-pf-expand-active")
            .find(".list-group-item-container").toggleClass("hidden");
      } else {
      }
    })

    // click the close button, hide the expand row and remove the active status
    $(".list-group-item-container .close").on("click", function (){
      $(this).parent().addClass("hidden")
        .parent().removeClass("list-view-pf-expand-active")
          .find(".fa-angle-right").removeClass("fa-angle-down");
    })

  });
</script>

{% endblock %}
