{% extends "layout.html" %}

{% block content %}
<br>

<div class="container">


<form class="form-horizontal" id="jjb_data">
  <!-- form start-->

  <!-- Job input start -->
  <div class="form-group center-block">
    <label class="col-sm-3 col-md-4 control-label" for="exampleInput">Job Name</label>
    <div class="col-sm-3">
      <input type="text" id="job_name_input" class="form-control">
    </div>
  </div>
  <!-- Job input end -->

  <!-- First build input start -->
  <div class="form-group center-block">
    <label class="col-sm-1 col-md-5 control-label" for="exampleInput">1st build</label>
    <div class="col-sm-1">
      <input type="text" id="first_build_input" class="form-control">
    </div>
  </div>
  <!-- First build input input end -->

  <!-- Second build input start -->
  <div class="form-group center-block">
    <label class="col-sm-1 col-md-5 control-label" for="exampleInput">2nd build</label>
    <div class="col-sm-1">
      <input type="text" id="second_build_input" class="form-control">
    </div>
  </div>
  <!-- Second build input input end -->

  <!-- buttons start -->
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-4">
       <button type="button" class="btn btn-primary btn-lg" id="compare" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Comparing...">Compare!</button>
    </div>
  </div>
  <!-- buttons end -->

  <!-- form end-->
</form>


<!-- Alert for missing input -->
{% include "missing_input.html" -%}

<!-- Alert for missing job -->
{% include "missing_job.html" -%}

<!-- Progress Bar -->
{% include "progress_bar.html" -%}

<script>

$('button#compare').click(function(){
  
  var job_name = $('#job_name_input').val();
  var first_build = $('#first_build_input').val();
  var second_build = $('#second_build_input').val();

  if (job_name && first_build && second_build) {
    $("#missing_input_div").hide();
    $("#missing_job_div").hide();
    $("#progress_bar").show();


    $.ajax({
        url: "{{ url_for('home.list_jobs') }}",
        data: {"job_name":job_name},
        type: 'POST',
        success: function(response){
          if (response['output']['id']) {


            $.ajax({
                url: "{{ url_for('home.list_tests') }}",
                data: {"job_name":job_name, "build_number":first_build},
                type: 'POST',
              success: function(response){ 
                
                console.log(response);
              
              },
              error: function(error){ console.log(error); }
            });
          }
  else {
    $("#progress_bar").show();
    $("#missing_job_div").show();
    $("#missing_input_div").hide();
    $("#progress_bar_inner").attr('class', 'progress-bar progress-bar-danger progress-bar-striped');
    $("#progress_bar_inner").text("10% - missing job");
       }
}
});
}
else {
    $("#missing_job_div").hide();
    $("#missing_input_div").show();
    $("#progress_bar_inner").attr('class', 'progress-bar progress-bar-danger progress-bar-striped');
    $("#progress_bar_inner").text("10% - missing input");
     }
});

</script>

{% endblock %}
