<!-- Remove Bug Modal -->
<div id="remove_bug_modal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-title">Remove bug from RHOCI</h4>
      </div>
      <div class="modal-body">

                <div class="input-group col-xs-4" style="white-space: pre-line;">
                  <span class="input-group-addon">#</span>
                  <input id="remove_bug_num" type="text" class="form-control" disabled>
                </div> 
                <div class="input-group col-xs-12" style="white-space: pre-line;">
                  <span class="input-group-addon">Job </span>
                  <input id="remove_bug_job" type="text" class="form-control" disabled>
                </div> 

                <br>

                Remove from all jobs and tests?  <input id="remove_all" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" style="margin-left: 15px;">

                <br><br>
                <button type="button" onClick="remove_bug_from_db()" class="btn btn-danger" style="height:35px; width:105px; font-size: 120%;">Confirm</button>
                <br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
