{% extends "layout.html" %}

{% block content %}

<!-- Main container -->
<br>
<div class="container-fluid col-md-custom col-md-offset-custom">
  <div class="row text-center">
  </div>

{% include "DFG/table.html" -%}

<script>
$(document).ready(function() {

$("#jobs_table").DataTable({
        "ajax": "{{ uf }}",
        "columns": [
          {"data": "name"},
          {"data": "last_build.status",
           "defaultContent": "None"
          },
          {"data": "properties.release",
           "defaultContent": "None"
          },
          {"data": "last_build.timestamp",
           "defaultContent": "No Date"
          },
          {"data": "last_successful_build.timestamp",
           "defaultContent": "No Date"
          },
          ],
        "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
        status = aData.last_build.status;
        {% include "tables/color_result.js" -%}
        columnDefs: [
            {
                targets:0,
                render: function ( data, type, row, meta ) {
                    if(type === 'display'){
                        data = '<a href="/jobs/' + data + '">' + data + '</a>';
                    }
                    return data;
                }
            },
            {
                targets:[2],
                "visible": false,
                render: function ( data, type, row, meta ) {
                  console.log(row)
                    if(type === 'display' && row[3] != 0 ){
                        data = '<a href="/job/' + row['job_name'] + '/' + row['last_build_number'] + '">' + data + '</a>';
                    }
                    return data;
                }
            },
            {
                targets:[1],
                render: function ( data, type, row, meta ) {
                  data = '<a href="' + "{{ jenkins_url }}" + '/job/' + row['name'] + '/' + row['last_build']['number'] + '">' + row['last_build']['status'] + '</a>';
                    return data;
                }
            },
            {
                targets:5,
                render: function ( data, type, row, meta ) {
                    if(type === 'display' && row[1] != 0 && (row['last_build']['status'] == 'SUCCESS' || row['last_build']['status'] == 'UNSTABLE')){
                    data = '<a href="' + "{{ jenkins_url }}" + '/job/' + row['name'] + '/' + row['last_build']['number'] + '/testReport' + '">Tests</a>';
                    }
                    else {
                      data = 'None';
                    }

                    return data;
                }
            },
        ],
  processing: true,
  order: [[ 2, "desc" ]],
  searchPane: {
        columns: [1, 2],
    },
  search: { "regex": true }, 
});

});
</script>

<!-- -->
{% endblock %}
