{% extends "layout.html" %}

{% block content %}

<body id="page-top">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Content Row -->
          <div class="row">


            <!-- Jobs count card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                  <a href="{{ url_for('jobs.index') }}" style="text-decoration: none">
                <div class="card-header py-2">
                    <h5 class="m-0 font-weight-bold text-primary text-center">Jobs</h5>
                </div>
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">{{ count['jobs'] }}</div>
                    </div>
                  </div>
                </div>
                  </a>
              </div>
            </div>

            <!-- Builds count card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                  <a href="{{ url_for('jobs.builds') }}" style="text-decoration: none">
                <div class="card-header py-2">
                  <h5 class="m-0 font-weight-bold text-primary text-center">Builds</h5>
                </div>
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">{{ count['builds'] }}</div>
                    </div>
                  </div>
                </div>
                  </a>
              </div>
            </div>

            <!-- Squads count card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                  <a href="{{ url_for('DFG.squads') }}" style="text-decoration: none">
                <div class="card-header py-2">
                  <h5 class="m-0 font-weight-bold text-primary text-center">Squads</h5>
                </div>
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">{{ count['squads'] }}</div>
                    </div>
                  </div>
                </div>
                  </a>
              </div>
            </div>

            <!-- DFG count card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                  <a href="{{ url_for('DFG.DFGs') }}" style="text-decoration: none">
                <div class="card-header py-2">
                  <h5 class="m-0 font-weight-bold text-primary text-center">DFGs</h5>
                </div>
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">{{ count['DFGs'] }}</div>
                    </div>
                  </div>
                </div>
                  </a>
              </div>
            </div>

          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-9 col-lg-7 mb-4">
              <div class="card shadow mb-4 h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Number of Builds in The Past Week</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    {% include "main/builds_last_week_line_chart.html" %}
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-3 col-lg-5 mb-4">
              <div class="card shadow mb-4 h-100">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Overall Status</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    {% include "main/overall_status_pie_chart.html" %}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{{ url_for('main.logout') }}">Logout</a>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock %}
