{% extends "layout.html" %}

{% block content %}

<!-- Main container -->
<br>
<div class="container-fluid col-md-custom col-md-offset-custom">
  <div class="row text-center">
  </div>

{% include "builds/table.html" -%}

<script>
$(document).ready(function() {

$("#jobs_table").DataTable({
        "ajax": "{{ uf }}",
        "columns": [
          {"data": "name"},
          {"data": "last_build.result"},
          {"data": "last_build.number"},
          {"data": "name"},
          {"data": "name"},
          ],
        "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            if ( aData.last_build.result == "FAILURE" )
            {
            $('td', nRow).css('background-color', '#f2dede' );
            }
            else if ( aData.last_build.result == "SUCCESS" )
            {
            $('td', nRow).css('background-color', '#dff0d8');
            }
            else if ( aData.last_build.result == "UNSTABLE" )
            {
            $('td', nRow).css('background-color', '#fcf8e3');
            }
        },
        columnDefs: [
            {
                targets:0,
                render: function ( data, type, row, meta ) {
                    if(type === 'display'){
                        data = '<a href="/job/' + data + '">' + data + '</a>';
                    }
                    return data;
                }
            },
            {
                targets:[2],
                render: function ( data, type, row, meta ) {
                    if(type === 'display' && row[3] != 0 ){
                        data = '<a href="/job/' + row['job_name'] + '/' + row['last_build_number'] + '">' + data + '</a>';
                    }
                    return data;
                }
            },
            {
                targets:[1],
                render: function ( data, type, row, meta ) {
                    data = '<a href="/job/' + row[1] + '/' + row[2] + '">' + data + '</a>';
                    return data;
                }
            },
            {
                targets:4,
                render: function ( data, type, row, meta ) {
                    if(type === 'display' && row[1] != 0 && (row[1] == 'SUCCESS' || row[1] == 'UNSTABLE')){
                    data = '<button type="button" onClick="show_tests(\'' + row[1] + '\', \'' + row[3] + '\')" class="btn btn-info btn-lg">Tests</button>'
                    }
                    else {
                      data = 'No Tests';
                    }

                    return data;
                }
            },
        ],
  processing: true,
  search: { "regex": true }, 
});

});
</script>

<!-- -->
{% endblock %}
